.root {
	-cell-1-color: #fff7f7;
	-cell-2-color: #fef1f1;
	-slider-thumb-color: #f7a6ad;
	-scroll-bar-color: #fef1f1;
	-scroll-bar-track-color: #ffffff;
	-scroll-bar-arrow-color: #ccb3b3;
	-border-color: #966363;
	-foreground-color: #ffe7e5;
	-background-color: #fff9fa;
	-menu-color: #ffffff;
	-history-bar-color: #fff7f9;
	-track-list-edit-color: #ec7f9a;
	-text-color: #682727;
	-selected-text-color: #ffffff;
	-playing-text-color: #d85173;
	-hover-color: #f8e8ea;
	-select-color: #f7d3d6;
	-control-button-color-top: #f58f97;
	-control-button-color-bottom: #fdd9d8;
	-control-button-hover-color-top: #f8bfc4;
	-control-button-hover-color-bottom: #f7ebeb;
	-history-button-color-top: #f7b3b9;
	-history-button-color-bottom: #f8e8e7;
	-directory-node-graphic-color: #e3b5ba;
	
	-selected-text-color: -text-color;
	-track-list-header-text-color: -text-color;
}