.root {
	-cell-1-color: #f2fcf1;
	-cell-2-color: #eafded;
	-slider-thumb-color: #008000;
	-foreground-color: #8bc97b;
	-background-color: #e2f5e3;
	-history-bar-color: #f2fcf1;
	-track-list-edit-color: #00ad00;
	-text-color: #1d4d1f;
	-selected-text-color: #eefaf1;
	-playing-text-color: #00ad00;
	-selected-playing-text-color: #00ff00;
	-hover-color: #a8d89f;
	-select-color: #50993e;
	-control-button-color-top: #126b17;
	-control-button-color-bottom: #5edd3e;
	-control-button-hover-color-top: #2e7512;
	-control-button-hover-color-bottom: #6fda28;
	-history-button-color-top: #58aa37;
	-history-button-color-bottom: #8de26b;
	-directory-node-graphic-color: #287326;
}