.root {
	-cell-1-color: #96d8ff;
	-cell-2-color: #85c5e1;
	-slider-thumb-color: #ffda36;
	-slider-track-color: #F8B15F;
	-scroll-bar-track-color: #7b8e97;
	-scroll-bar-color: #CBDCE9;
	-scroll-bar-arrow-color: #414453;
	-border-color: #414453;
	-foreground-color: #CB5A44;
	-background-color: #66B7DA;
	-history-bar-color: #F8B15F;
	-track-list-edit-color: #FFF187;
	-text-color: #08123E;
	-selected-text-color: #eff8f8;
	-playing-text-color: #FFF187;
	-hover-color: #6896b1;
	-select-color: #3f627e;
	-control-button-color-top: #be721a;
	-control-button-color-bottom: #F8B15F;
	-control-button-hover-color-top: #995e1b;
	-control-button-hover-color-bottom: #e2943b;
	-history-button-color-top: #F8B15F;
	-history-button-color-bottom: #FFF187;
	-directory-node-graphic-color: #3f7da6;
	
	-track-list-header-color: -scroll-bar-color;
	-track-list-header-text-color: -scroll-bar-arrow-color;
	-history-bar-color: #F8B15F;
	-history-button-text-color: #532C00;
	-control-button-text-color: #FFF187;
	-menu-color: -foreground-color;
	-menu-text-color: #FFF187;
	-control-text-color: #FFF187;

	-menu-select-color: #F8B15F;
	-menu-selected-text-color: #532C00;
	
	-search-bar-color: #FFF187;
	-search-bar-text-color: -history-button-text-color;
}