.root {
	-cell-1-color: #f5f3fc;
	-cell-2-color: #f1eafa;
	-slider-thumb-color: #8a09f3;
	-foreground-color: #b795ef;
	-background-color: #e8e5f1;
	-history-bar-color: #f2eefb;
	-track-list-edit-color: #8a09f3;
	-text-color: #2d2033;
	-selected-text-color: #f6f6fd;
	-playing-text-color: #8a09f3;
	-selected-playing-text-color: #d2a0fc;
	-hover-color: #c9b0de;
	-select-color: #8758bd;
	-control-button-color-top: #5a17b1;
	-control-button-color-bottom: #d87efc;
	-control-button-hover-color-top: #7d21a8;
	-control-button-hover-color-bottom: #fd90f4;
	-history-button-color-top: #b680d6;
	-history-button-color-bottom: #ddc3ec;
	-directory-node-graphic-color: #553399;
}