.root {
	-cell-1-color: #ff9061;
	-cell-2-color: #ff9f75;
	-slider-thumb-color: #47ad02;
	-slider-track-color: #47ad02;
	-scroll-bar-track-color: #505050;
	-scroll-bar-color: #3d3d3d;
	-scroll-bar-arrow-color: #161616;
	-border-color: #161616;
	-foreground-color: #a875d1;
	-background-color: #443670;
	-menu-color: #3d3d3d;
	-history-bar-color: #ff9b70;
	-track-list-header-color: #3d3d3d;
	-track-list-edit-color: #85d443;
	-text-color: #070707;
	-playing-text-color: #ffcf41;
	-selected-text-color: #f1f1f1;
	-menu-text-color: #f1f1f1;
	-hover-color: #c56c43;
	-select-color: #6b3822;
	-control-button-color-top: #6d8f1d;
	-control-button-color-bottom: #60d144;
	-control-button-hover-color-top: #3fa732;
	-control-button-hover-color-bottom: #49d668;
	-history-button-color-top: #332f2c;
	-history-button-color-bottom: #61605a;
	-directory-node-graphic-color: #2a2622;

	-history-button-text-color: #f1f1f1;
	-track-list-header-text-color: #f1f1f1;
	-background-text-color: -menu-text-color;
	-menu-select-color: #cccccc;
	-menu-selected-text-color: #bd1212;
}