.root {
	-cell-1-color: #f8abad;
	-cell-2-color: #95d0aa;
	-slider-thumb-color: #f72020;
	-scroll-bar-color: #f7abad;
	-scroll-bar-track-color: #f5f5f5;
	-scroll-bar-arrow-color: #643f3f;
	-border-color: #7e131d;
	-foreground-color: #f77b81;
	-background-color: #a0af85;
	-menu-color: #fafafa;
	-track-list-edit-color: #f72020;
	-text-color: #6d4026;
	-selected-text-color: #f2f0eb;
	-select-color: #9b7653;
	-playing-text-color: #af8000;
	-control-button-color-top: #016e2b;
	-control-button-color-bottom: #3bdd8c;
	-control-button-hover-color-top: #007a37;
	-control-button-hover-color-bottom: #49e6aa;
	-history-button-color-top: #388571;
	-history-button-color-bottom: #8fe7cd;
	-directory-node-graphic-color: #339961;
	
	-history-bar-color: #cecece;
	-history-bar-gradient: linear-gradient(#cecece, #eaeaea, #cecece);
	-track-list-header-color: -history-bar-color;
	-track-list-header-gradient: -history-bar-gradient;
	-track-list-header-text-color: #555555;

	-hover-1-color: #ee8084;
	-hover-2-color: #5aaa76;
	-selected-1-color: #b13f43;
	-selected-2-color: #297543;
}