.root {
	-cell-1-color: #fcf1f1;
	-cell-2-color: #fdeaed;
	-slider-thumb-color: #f12b2b;
	-foreground-color: #eca3a3;
	-background-color: #f5e2e2;
	-history-bar-color: #fcf1f1;
	-track-list-edit-color: #f12b2b;
	-text-color: #4d1d1d;
	-selected-text-color: #faeeee;
	-playing-text-color: #f12b2b;
	-selected-playing-text-color: #faabab;
	-hover-color: #deb0b0;
	-select-color: #c46262;
	-control-button-color-top: #f33232;
	-control-button-color-bottom: #f182b9;
	-control-button-hover-color-top: #dd4a26;
	-control-button-hover-color-bottom: #f87f9d;
	-history-button-color-top: #d68080;
	-history-button-color-bottom: #ecc9c3;
	-directory-node-graphic-color: #ac3939;
}